*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-box-footer{
    /* border: 1px solid black; */
    text-align: center;
    background-color: #e7e5e59b;
    padding: 10px;
}
.footer{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
h3{
    color: #0FB3AF;
}
.footer .footer-box{
    flex: 1;
    /* height: 300px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-box img{
    width: 200px;
}
.link-tag{
    text-decoration: none;
    color: black;
}
.link-tag:hover{
    color: #0FB3AF;
}